div(class='row')
  div(class='col-md-12')
    carousel(interval='sliderInterval')
      slide(class='item composition', ng-repeat='composition in compositions', active='composition.active')
        div(class='row')
          div(class='col-md-4 composition-img', ng-repeat='image in composition.images')
            img(ng-src='{{image.url}}', class='composition-img')
        h3 {{composition.title}}
        p {{composition.text}}
div(class='row')
  div(class='col-md-12')
    form(class='form', ng-submit='processForm()')
      input(type='text', class='form-control', ng-model='code')
      input(type='submit', class='btn btn-primary pull-right')
