div(class='container')
 div(class='row')
   div(class='col-md-12')
    h1(class='title') Choisissez votre expression
 div(class='row')
   div(class='col-md-6')
     a(class='btn btn-default btn-block btn-wide', href='#/{{code}}/text.html') Texte