div(class='opaque')
 button(ng-click='back()', class='btn btn-default layout-back') Retour
 div(class='container')
  div(class='row')
    div(class='col-md-12')
     h1 Racontez votre histoire
  div(class='row')
    div(class='col-md-4', ng-repeat='image in images')
      img(ng-src='{{image.url}}', class='img-responsive')
  div(class='row')
    div(class='col-md-12')
      form(ng-submit='processForm()')
        input(type='text', class='form-control', ng-model='formData.title', placeholder='Votre titre')
        input(type='text', class='form-control', ng-model='formData.author', placeholder='Votre nom')
        textarea(class='form-control form-textarea', ng-model='formData.text', placeholder='Votre description')
        input(type='submit', class='btn btn-default pull-right')