form(class='form', ng-submit='processForm()')
  div(class='col-md-6')
    input(type='text', class='form-control', ng-model='code')
  div(class='col-md-6')
    input(type='submit', class='btn pull-right')
