button(ng-click='back()', class='btn btn-default layout-back') Retour
div(class='container')
 div(class='row')
   div(class='col-md-12')
    h1 Choisissez votre expression
 div(class='row')
   div(class='col-md-6')
     a(class='btn btn-default btn-block btn-wide mode', href='#/{{code}}/text.html')
        span(class='glyphicon glyphicon-align-justify mode-default')
        span Ecrire
 div(class='row')
   div(class='col-md-6')
     a(class='btn btn-default btn-block btn-wide mode', href='')
        span(class='glyphicon glyphicon-pencil mode-default')
        span Dessiner
 div(class='row')
   div(class='col-md-6')
     a(class='btn btn-default btn-block btn-wide mode', href='')
        span(class='glyphicon glyphicon-comment mode-default')
        span Mettre en scène
 div(class='row')
   div(class='col-md-6')
     a(class='btn btn-default btn-block btn-wide mode', href='')
        span(class='glyphicon glyphicon-bullhorn mode-default')
        span Raconter