html
  head
    title ArtRoulette: Designer

    link(href='stylesheets/theme.css', type='text/css', rel='stylesheet', media='all')
    link(href='stylesheets/generator.css', type='text/css', rel='stylesheet', media='all')

    script(src='javascripts/angular.js', type='text/javascript')
    //- script(src='javascripts/angular-locale-en.js', type='text/javascript')
    script(src='javascripts/angular-route.js', type='text/javascript')
    script(src='javascripts/angular-bootstrap.js', type='text/javascript')

    script(src='javascripts/generator.js', type='text/javascript')
  body
    gallery(ng-controller='GalleryController')
      cell.cell-1
      cell.cell-2
      cell.cell-3
