html
  head
    title ArtRoulette: Designer

    link(href='stylesheets/theme.css', type='text/css', rel='stylesheet', media='all')
    link(href='stylesheets/generator.css', type='text/css', rel='stylesheet', media='all')

    script(src='javascripts/angular.js', type='text/javascript')
    //- script(src='javascripts/angular-locale-en.js', type='text/javascript')
    script(src='javascripts/angular-route.js', type='text/javascript')
    script(src='javascripts/angular-bootstrap.js', type='text/javascript')
    script(src='javascripts/angular-resource.js', type='text/javascript')

    script(src='javascripts/designer.js', type='text/javascript')

  body
    div(class='container')
      div(class='row')
        div(class='col-md-1')
      div(class='row', ng-app='formApp')
        form(class='form', ng-submit='processForm()', ng-controller='FormController')
          div(class='col-md-6')
            input(type='text', class='form-control', ng-model='formData.code')
          div(class='col-md-6')
            input(type='submit', class='btn pull-right')