@black: #000;
@orange: #ee7517;
@orange-dark: darken(@orange, 10%);
@orange-light: lighten(@orange, 10%);
@grey-light: #DBDBDB;
@white: #fff;

@default-spacing: 15px;
@spacing-double: @default-spacing * 2;
@spacing-half: @default-spacing / 2;

@very-big-font-size-base: 34px;
@big-font-size-base: 28px;
@default-font-size: 24px;

@default-transition-duration: 2s;
@fast-transition-duration: @default-transition-duration / 4;

h1, h2, h3, h4 {
    margin: 0 0 @spacing-double 0;
}

body {
    background: url('../images/background-onepiece.png') repeat;
}

.opaque {
    background-color: rgba(255, 255, 255, 0.75);
}

.container {
    min-height: 100%;

    padding: @spacing-double @spacing-double 0 @spacing-double;
}

.row {
    margin-bottom: @spacing-double;
}

.form-control {
    height: 45px;
    line-height: 45px;

    margin-bottom: @default-spacing;

    font-size: @default-font-size;

    transition: border-color ease-in-out @fast-transition-duration,
                box-shadow ease-in-out @fast-transition-duration,
                outline ease-in-out @fast-transition-duration;

    &:focus {
        border-color: @orange;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @orange;
        outline: 5px auto @orange;

        transition: border-color ease-in-out @fast-transition-duration,
                    box-shadow ease-in-out @fast-transition-duration,
                    outline ease-in-out @fast-transition-duration;
    }
}

.glyphicon {
    top: 3px;
}

.form-textarea {
    min-height: 200px;
}

.layout-back {
    position: absolute;
    top: 30px;
    left: 30px;
}

.mode {

}

.mode-default {
    margin-left: - @spacing-half;
    padding-right: @spacing-half;
}

.btn {
    transition: background @default-transition-duration;

    &:hover {
        transition: background @default-transition-duration;
    }
}

.btn-default {
    background-color: @orange;
    border: 1px solid @orange-dark;
    color: @white;

    font-size: 20px;

    transition: background-color @default-transition-duration;

    &:hover,
    &:focus,
    &:active {
        background-color: @orange-light;
        border: 1px solid @orange-dark;
        color: @white;

        transition: background-color @default-transition-duration;
    }

    &:focus {
        outline: 5px auto @orange;
    }
}

.btn-block {
    display: block;
}

.btn-wide {
    width: 100%;
    padding: 15px;

    font-size: 2em;
}

.alert-block {
    display: block;
}

.box {
    width: 100%;
}

.box-fixed-bottom {
    position: absolute;
    bottom: 0;
}

.code {
    background-color: @black;

    text-align: center;
}

.code-container {
    padding: 0;

    background-color: @black;
}

.code-link {
    display: block;
    width: 100%;
    padding: 20px;

    color: @white;

    font-size: @default-font-size;

    transition: color @default-transition-duration;

    &:hover,
    &:focus,
    &:active {
        color: @grey-light;
        text-decoration: none;

        transition: color @default-transition-duration;

        cursor: pointer;
    }
}

.code-alert {
    width: 1041px;

    margin: 0 auto @spacing-half auto;
}

.code-input {
    display: inline-block;
    width: 80%;
    margin-right: @default-spacing;
}

.code-submit {
    display: inline-block;
    width: 10%;
    height: 45px;

    position: relative;
    top: -5px;
}

.composition {

}

.composition-img {
    text-align: center;
    max-width: 100%;
}

.composition-title {
    margin-bottom: @spacing-half;

    font-size: @very-big-font-size-base;
}

.composition-author {
    margin-bottom: @spacing-half;

    font-size: @big-font-size-base;
}

.composition-text {
    font-size: @default-font-size;
}

.carousel-control.carousel-control {
    background: none;
}